<mat-card
  *ngIf="project"
  class="grid w-full mb-2 mat-elevation-z1 cursor-pointer"
  [routerLink]="['../project-view', project.id]"
>
  <div class="flex flex-row">
    <div class="w-full flex flex-col md:flex-row">
      <mat-card-header class="w-full md:w-4/5">
        <div mat-card-avatar class="text-center items-center self-center">
          <mat-icon>{{ project.data.type | projectTypePipe }}</mat-icon>
        </div>
        <mat-card-title>{{ project.data.title }}</mat-card-title>
        <mat-card-subtitle>{{ project.data.location }}</mat-card-subtitle>
      </mat-card-header>
      <div class="flex flex-row w-full md:w-1/5 justify-center pr-2" *ngIf="project.data.group">
        <div class="flex flex-col self-center">
          <div class="flex flex-row mb-2">
            <img
              *ngIf="$any(collaboratorsArray[0])"
              class="rounded-full h-10 w-10 border-solid border-2 border-white"
              [matTooltip]="$any(collaboratorsArray[0]).name"
              [src]="$any(collaboratorsArray[0]).avatar"
            />
            <img
              *ngFor="let collaborator of collaboratorsArray | slice: 1"
              [matTooltip]="$any(collaborator).name"
              class="rounded-full h-10 w-10 border-solid border-2 border-white"
              style="margin-left: -10px"
              [src]="$any(collaboratorsArray[0]).avatar"
            />
          </div>
          <span class="text-sm font-thin"> {{ project.data.collaborators.length }} Personas</span>
        </div>
      </div>
    </div>
    <div class="w-auto md:relative absolute p-2 md:p-0 top-0 right-0">
      <button mat-icon-button (click)="$event.stopPropagation()">
        <mat-icon>more_vert</mat-icon>
      </button>
    </div>
  </div>
</mat-card>
