<mat-card
  *ngIf="project"
  class="grid w-full mb-2 mat-elevation-z1 cursor-pointer"
  [routerLink]="['../project-view', project.id]"
>
  <div class="flex flex-row">
    <div class="w-full flex flex-col">
      <mat-card-header class="w-full">
        <div mat-card-avatar class="text-center items-center self-center">
          <mat-icon>{{ project.data.type | projectTypePipe }}</mat-icon>
        </div>
        <mat-card-title>{{ project.data.title }}</mat-card-title>
        <mat-card-subtitle>{{ project.data.location }}</mat-card-subtitle>
      </mat-card-header>
      <mat-card-content class="m-0">
        <div class="flex flex-row w-full justify-end pr-2" *ngIf="project.data.group">
          <div class="flex flex-col items-center self-center">
            <div class="flex flex-row mb-2" *ngIf="collaborators$ | async; let collaborators">
              <img
                *ngIf="collaborators[0]"
                class="rounded-full h-10 w-10 border-solid border-2 border-white"
                [matTooltip]="collaborators[0].data.name"
                [src]="collaborators[0].data.avatar"
              />
              <img
                *ngFor="let collaborator of collaborators$ | async | slice: 1"
                [matTooltip]="collaborator.data.name"
                class="rounded-full h-10 w-10 border-solid border-2 border-white"
                style="margin-left: -10px"
                [src]="collaborator.data.avatar"
              />
            </div>
          </div>
        </div>
      </mat-card-content>
    </div>
  </div>
</mat-card>
