// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
@use 'sass:map';
// Plus imports for other components in your app.

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

@import '@angular/material/theming';

@mixin _palette-styles($palette) {
  background: mat.get-color-from-palette($palette);
  color: mat.get-color-from-palette($palette, default-contrast);
}
@mixin sidenav-component-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);
  .mat-sidenav,
  .mat-drawer-container,
  .mat-sidenav-container {
    background: #ffffff; //mat.get-color-from-palette($background, app-bar);
    color: mat.get-color-from-palette($foreground, text);
    &[color='primary'] {
      @include _palette-styles($primary);
    }
    &[color='accent'] {
      @include _palette-styles($accent);
    }
    &[color='warn'] {
      @include _palette-styles($warn);
    }
  }
}
@mixin overlay-component-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);
  .cdk-overlay-pane {
    .overlay-background {
      background: mat.get-color-from-palette($background, app-bar);
    }
    border-radius: 14px;
    &.mat-tooltip-panel {
      background: transparent;
    }
    .mat-dialog-container {
      border-radius: 12px;
    }
    color: mat.get-color-from-palette($foreground, text);
    &[color='primary'] {
      @include _palette-styles($primary);
    }
    &[color='accent'] {
      @include _palette-styles($accent);
    }
    &[color='warn'] {
      @include _palette-styles($warn);
    }
  }
}
@mixin rng-search-input-component-theme($theme) {
  $primary: map.get($theme, primary);
  $accent: map.get($theme, accent);
  $warn: map.get($theme, warn);
  $foreground: map.get($theme, foreground);
  $background: map.get($theme, background);
  .rng-search-input {
    background: mat.get-color-from-palette($background, app-bar);
    color: mat.get-color-from-palette($foreground, text);
    &[color='primary'] {
      @include _palette-styles($primary);
    }
    &[color='accent'] {
      @include _palette-styles($accent);
    }
    &[color='warn'] {
      @include _palette-styles($warn);
    }
  }
}

$mat-rng: (
  50: #f0f0f0,
  100: #f0f0f0,
  // lighter
  200: #f0f0f0,
  300: #607d8b,
  400: #607d8b,
  500: #607d8b,
  600: #607d8b,
  700: #375984,
  800: #375984,
  900: #843737,
  A100: #607d8b,
  A200: #607d8b,
  A400: #fafafa,
  A700: #375984,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);
$mat-rng-dark: (
  50: #f0f0f0,
  100: #f0f0f0,
  // lighter
  200: #f0f0f0,
  300: #375984,
  400: #375984,
  500: #375984,
  600: #375984,
  700: #607d8b,
  800: #607d8b,
  900: #ad4848,
  A100: #607d8b,
  A200: #607d8b,
  A400: #303030,
  A700: #18273a,
  contrast: (
    50: white,
    100: white,
    200: white,
    300: white,
    400: white,
    500: white,
    600: white,
    700: white,
    800: white,
    900: white,
    A100: white,
    A200: white,
    A400: white,
    A700: white,
  ),
);

$rng-default-primary: mat.define-palette($mat-rng, A700);
$rng-default-accent: mat.define-palette($mat-rng, A400);
$rng-default-warn: mat.define-palette($mat-rng, 900);

$rng-dark-primary: mat.define-palette($mat-rng-dark, A700);
$rng-dark-accent: mat.define-palette($mat-rng-dark, A400);
$rng-dark-warn: mat.define-palette($mat-rng-dark, 900);

$rng-default-theme: mat.define-light-theme(
  (
    color: (
      primary: $rng-default-primary,
      accent: $rng-default-accent,
      warn: $rng-default-warn,
    ),
  )
);

$rng-dark-theme: mat.define-dark-theme(
  (
    color: (
      primary: $rng-dark-primary,
      accent: $rng-dark-accent,
      warn: $rng-dark-warn,
    ),
  )
);

// @include mat.all-component-themes($rng-default-theme);

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$rng-app-primary: mat.define-palette(mat.$indigo-palette);
$rng-app-accent: mat.define-palette(mat.$pink-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$rng-app-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$rng-app-theme: mat.define-light-theme(
  (
    color: (
      primary: $rng-app-primary,
      accent: $rng-app-accent,
      warn: $rng-app-warn,
    ),
  )
);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($rng-default-theme);
@include sidenav-component-theme($rng-default-theme);
@include overlay-component-theme($rng-default-theme);
@include rng-search-input-component-theme($rng-default-theme);

.dark {
  @include mat.core-color($rng-dark-theme);
  @include mat.all-component-colors($rng-dark-theme);
  @include sidenav-component-theme($rng-dark-theme);
  @include overlay-component-theme($rng-dark-theme);
  @include rng-search-input-component-theme($rng-dark-theme);
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}

mat-card.mat-card {
  border-radius: 8px;
  min-width: 16rem;
}
mat-chip.mat-chip {
  user-select: none;
}
mat-chip.mat-chip.mat-chip-selected {
  cursor: pointer;
}

$color-config: mat.get-color-config($rng-default-theme);
.bg-primary {
  background-color: mat.get-color-from-palette(map.get($color-config, 'primary'), A700);
  color: white;
}

.bg-accent {
  background: mat.get-color-from-palette(map.get($color-config, 'accent'), A400);
  color: white;
}
.color-primary {
  color: mat.get-color-from-palette(map.get($color-config, 'primary'), A700);
}

.color-accent {
  color: mat.get-color-from-palette(map.get($color-config, 'accent'), A400);
}
.stroke-primary {
  stroke: mat.get-color-from-palette(map.get($color-config, 'primary'), A700);
}
.stroke-accent {
  stroke: mat.get-color-from-palette(map.get($color-config, 'accent'), A400);
}

.project-state-active {
  color: #37843a !important;
  border-color: #37843a !important;
}
.project-state-inactive {
  color: #828282 !important;
  border-color: #828282 !important;
}
.project-state-finished {
  color: #375984 !important;
  border-color: #375984 !important;
}

::ng-deep {
  @media screen and (max-width: 500px) {
    div.mat-list-item-content,
    div.mat-list-text {
      padding: 0 !important;
    }
  }
}
