<div class="mb-6">
  <h1 class="text-xl font-medium my-6">Representación</h1>
  <mat-card class="mat-elevation-z3 rounded-lg p-0">
    <div
      [style]="'background-image: url(' + group.data.background + ')'"
      class="h-64 bg-gray-200 bg-cover bg-center rounded-t-lg flex items-center justify-center"
    >
      <p class="font-bold text-4xl"></p>
    </div>
    <div class="rounded-b-lg px-8">
      <div class="relative">
        <img
          class="
            right-0
            w-20
            h-20
            rounded-full
            mr-4
            shadow-lg
            absolute
            -mt-10
            bg-gray-100
            object-cover
          "
          [src]="group.data.logo"
          alt="Logo"
        />
      </div>
      <div class="pt-8 pb-8">
        <h1 class="text-2xl font-bold mb-2">{{ group.data.name }}</h1>
        <mat-chip-list aria-label="Activities">
          <mat-chip color="primary" selected *ngFor="let activity of group.data.activities">{{
            activity | transloco
          }}</mat-chip>
        </mat-chip-list>
        <p class="mt-6" *ngFor="let info of group.data.additionalInfo">
          {{ info }}
        </p>

        <div class="flex justify-around mt-8">
          <button
            *ngIf="group.data.email"
            mat-icon-button
            color="primary"
            (click)="openTabForEmail(group.data.email)"
            [matTooltip]="group.data.email"
          >
            <mat-icon>email</mat-icon>
          </button>
          <button
            *ngIf="group.data.phone"
            mat-icon-button
            color="primary"
            (click)="openTabForPhone(group.data.phone)"
            [matTooltip]="group.data.phone"
          >
            <mat-icon>phone</mat-icon>
          </button>
          <button
            *ngIf="group.data.location.coordinates"
            mat-icon-button
            color="primary"
            (click)="openTabForMap(group.data.location.coordinates)"
            [matTooltip]="group.data.location.text"
          >
            <mat-icon>place</mat-icon>
          </button>
        </div>
      </div>
    </div>
  </mat-card>
</div>
