<div class="lg:container p-8 flex flex-col mx-auto">
  <div class="flex flex-row w-full" *ngIf="project.data.group">
    <mat-form-field class="w-full max-w-md" appearance="fill">
      <mat-label>Buscar documentos</mat-label>
      <input
        #documentsInput
        type="searc"
        aria-label="Search"
        matInput
        [formControl]="documentsFormControl"
        [matAutocomplete]="auto"
      />
      <mat-icon matSuffix class="cursor-pointer" *ngIf="!documentsInput.value">search</mat-icon>
      <mat-icon
        matSuffix
        class="cursor-pointer"
        *ngIf="documentsInput.value"
        (click)="documentsFormControl.setValue('')"
        >close</mat-icon
      >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredDocuments | async" [value]="option.title">
          {{ option.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-icon-button class="ml-auto" (click)="addDocument()">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="filteredDocuments | async; let documents">
    <div
      *ngIf="documents.length > 0; else noDocumentsTemplate"
      class="
        mx-auto
        w-full
        space-y-2
        sm:space-y-0
        gap-2
        grid grid-cols-1
        sm:grid-cols-2
        lg:grid-cols-3
      "
    >
      <div
        matRipple
        class="
          w-full
          mx-auto
          bg-white
          rounded-xl
          shadow-md
          overflow-hidden
          md:max-w-2xl
          cursor-pointer
          border border-gray-200
          dark:border-gray-500
        "
        *ngFor="let document of filteredDocuments | async"
      >
        <div class="max-w-4xl mx-auto grid grid-cols-1">
          <div
            class="
              relative
              p-3
              col-start-1
              row-start-1
              flex flex-col-reverse
              rounded-lg
              bg-gradient-to-t
              from-gray-500
              via-transparent
            "
          >
            <h1 class="mt-1 text-lg font-semibold text-white dark:sm:text-white">
              {{ document.title }}
            </h1>
            <p
              *ngIf="document.subtitle"
              class="text-sm leading-4 font-medium text-white dark:sm:text-slate-400"
            >
              {{ document.subtitle }}
            </p>
          </div>
          <div class="grid gap-4 col-start-1 col-end-3 row-start-1">
            <img
              [src]="document.url"
              [alt]="document.title"
              class="w-full h-60 object-cover rounded-lg"
              loading="lazy"
            />
          </div>
        </div>
        <!-- <div class="flex flex-col">
          <div class="md:shrink-0">
            <img
              *ngIf="document.format === 'image'"
              class="h-48 w-full object-cover"
              [src]="document.url"
              [alt]="document.title"
            />
          </div>
          <div class="p-4 dark:bg-gray-800">
            <p class="mt-2 text-slate-500 text-center">{{ document.title }}</p>
          </div>
        </div> -->
      </div>
    </div>
  </ng-container>

  <ng-template #noDocumentsTemplate>
    <div class="flex flex-col h-48 text-center items-center">
      <div class="m-auto h-36">
        <p class="mb-4">{{ 'noDocuments' | transloco }}</p>
        <img class="h-32 w-full" src="assets/undraw_not_found_-60-pq.svg" />
      </div>
    </div>
  </ng-template>
</div>
