<div class="lg:container p-8 flex flex-col mx-auto">
  <div class="flex flex-row w-full" *ngIf="project.data.group">
    <mat-form-field class="w-full max-w-md" appearance="fill">
      <mat-label>Buscar documentos</mat-label>
      <input
        #documentsInput
        type="searc"
        aria-label="Search"
        matInput
        [formControl]="documentsFormControl"
        [matAutocomplete]="auto"
      />
      <mat-icon matSuffix class="cursor-pointer" *ngIf="!documentsInput.value">search</mat-icon>
      <mat-icon
        matSuffix
        class="cursor-pointer"
        *ngIf="documentsInput.value"
        (click)="documentsFormControl.setValue('')"
        >close</mat-icon
      >
      <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
        <mat-option *ngFor="let option of filteredDocuments | async" [value]="option.title">
          {{ option.title }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>

    <button mat-icon-button class="ml-auto">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <ng-container *ngIf="filteredDocuments | async; let documents">
    <div
      *ngIf="documents.length > 0; else noDocumentsTemplate"
      class="
        mx-auto
        w-full
        space-y-2
        sm:space-y-0
        gap-2
        grid grid-cols-1
        sm:grid-cols-2
        lg:grid-cols-3
      "
    >
      <div
        class="
          w-full
          mx-auto
          bg-white
          rounded-xl
          shadow-md
          overflow-hidden
          md:max-w-2xl
          cursor-pointer
          hover:opacity-70
          border border-gray-200
          dark:border-gray-500
        "
        *ngFor="let document of filteredDocuments | async"
      >
        <div class="flex flex-col">
          <div class="md:shrink-0">
            <img
              *ngIf="document.format === 'image'"
              class="h-48 w-full object-cover"
              [src]="document.url"
              [alt]="document.title"
            />
          </div>
          <div class="p-4 dark:bg-gray-800">
            <p class="mt-2 text-slate-500 text-center">{{ document.title }}</p>
          </div>
        </div>
      </div>
    </div>
  </ng-container>

  <ng-template #noDocumentsTemplate>
    <div class="flex flex-col h-48 text-center items-center">
      <div class="m-auto h-36">
        <p class="mb-4">{{ 'noDocuments' | transloco }}</p>
        <img class="h-32 w-full" src="assets/undraw_not_found_-60-pq.svg" />
      </div>
    </div>
  </ng-template>
</div>
