<div class="lg:container p-8 flex flex-col mx-auto">
  <div class="flex flex-row w-full">
    <mat-form-field appearance="fill" class="w-full max-w-md">
      <mat-label>Buscar documentos</mat-label>
      <input matInput type="search" />
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>

    <button mat-icon-button class="ml-auto">
      <mat-icon>add</mat-icon>
    </button>
  </div>

  <div class="mx-auto w-full space-y-2 lg:space-y-0 lg:gap-2 lg:grid lg:grid-cols-3">
    <div
      class="
        w-full
        mx-auto
        bg-white
        rounded-xl
        shadow-md
        overflow-hidden
        md:max-w-2xl
        cursor-pointer
        hover:opacity-70
      "
    >
      <div class="flex flex-col">
        <div class="md:shrink-0">
          <img
            class="h-48 w-full object-cover"
            src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
            alt="Man looking at item at a store"
          />
        </div>
        <div class="p-4">
          <p class="mt-2 text-slate-500 text-center">Planos</p>
        </div>
      </div>
    </div>
    <div
      class="
        w-full
        mx-auto
        bg-white
        rounded-xl
        shadow-md
        overflow-hidden
        md:max-w-2xl
        cursor-pointer
        hover:opacity-70
      "
    >
      <div class="flex flex-col">
        <div class="md:shrink-0">
          <img
            class="h-48 w-full object-cover"
            src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
            alt="Man looking at item at a store"
          />
        </div>
        <div class="p-4">
          <p class="mt-2 text-slate-500 text-center">Planos</p>
        </div>
      </div>
    </div>
    <div
      class="
        w-full
        mx-auto
        bg-white
        rounded-xl
        shadow-md
        overflow-hidden
        md:max-w-2xl
        cursor-pointer
        hover:opacity-70
      "
    >
      <div class="flex flex-col">
        <div class="md:shrink-0">
          <img
            class="h-48 w-full object-cover"
            src="https://images.unsplash.com/photo-1523275335684-37898b6baf30?ixlib=rb-1.2.1&ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&auto=format&fit=crop&w=989&q=80"
            alt="Man looking at item at a store"
          />
        </div>
        <div class="p-4">
          <p class="mt-2 text-slate-500 text-center">Planos</p>
        </div>
      </div>
    </div>
  </div>
</div>
