<div class="flex flex-row items-center mb-1">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 mat-dialog-title class="m-0 ml-2 flex flex-row items-center cursor-pointer">
    <mat-icon class="mr-2">receipt_long</mat-icon>
    Coste
  </h1>
</div>
<div mat-dialog-content class="flex flex-col md:w-96">
  <mat-form-field appearance="outline">
    <input #costInput matInput type="number" [value]="invoice.data.cost" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    class="w-full"
    [disabled]="!costInput.value"
    [mat-dialog-close]="{cost: costInput.value}"
  >
    {{ 'actions.accept' | transloco }}
  </button>
</div>
