<button
  mat-button
  class="mat-elevation-z3 w-full bg-white overflow-hidden"
  (click)="selectedQuiz(quiz)"
>
  <div class="md:flex">
    <div class="md:flex-shrink-0">
      <img
        class="h-48 w-full object-contain md:h-full md:w-48"
        [src]="quiz.image"
        [alt]="quiz.title"
      />
    </div>
    <div class="p-8">
      <div
        class="
          uppercase
          tracking-wide
          text-sm text-indigo-500
          font-semibold
          text-center
          md:text-left
        "
      >
        {{ quiz.title }}
      </div>
      <div class="block mt-1 text-lg leading-tight font-medium text-black text-center md:text-left">
        {{ quiz.subtitle }}
      </div>
      <p class="mt-2 text-gray-500">{{ quiz.description }}</p>
    </div>
  </div>
</button>
