<div class="flex flex-col">
  <div class="flex flex-row items-center mb-1">
    <button mat-icon-button [mat-dialog-close]="document">
      <mat-icon>arrow_back</mat-icon>
    </button>
    <h1
      mat-dialog-title
      class="m-0 ml-2 flex flex-row items-center cursor-pointer"
      (click)="changeTitle()"
    >
      <mat-icon class="mr-2">{{ document.icon }}</mat-icon>
      {{ document.title }}
    </h1>
  </div>
  <span mat-dialog-subtitle class="mb-4 ml-12 cursor-pointer" (click)="changeSubtitle()">{{
    document.subtitle
  }}</span>
</div>

<button mat-icon-button class="absolute top-0 right-0" [matMenuTriggerFor]="menu">
  <mat-icon>more_vert</mat-icon>
</button>
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="changeTitle()">
    <mat-icon>edit</mat-icon>

    {{ 'actions.changeName' | transloco }}
  </button>
  <button mat-menu-item (click)="changeSubtitle()">
    <mat-icon>edit</mat-icon>

    {{ 'actions.changeDescription' | transloco }}
  </button>
  <button mat-menu-item (click)="openNewTab()">
    <mat-icon>open_in_new</mat-icon>

    {{ 'actions.openInNew' | transloco }}
  </button>
  <button mat-menu-item (click)="download()">
    <mat-icon>file_download</mat-icon>
    {{ 'actions.download' | transloco }}
  </button>
  <button mat-menu-item (click)="delete()">
    <mat-icon>delete</mat-icon>
    {{ 'actions.remove' | transloco }}
  </button>
</mat-menu>

<div mat-dialog-content class="w-full h-full m-auto max-h-screen">
  <iframe
    *ngIf="document.icon !== 'image'"
    class="w-full h-full"
    [src]="document.url | satinize: 'resourceUrl'"
    frameborder="0"
    allow="accelerometer; autoplay; encrypted-media; gyroscope; picture-in-picture"
    allowfullscreen
  ></iframe>
  <img
    *ngIf="document.icon === 'image'"
    class="w-full h-full object-fill rounded-2xl"
    [src]="document.url | satinize: 'url'"
    [alt]="document.title"
  />
</div>
