<mat-card class="grid mat-elevation-z3">
  <mat-card-header>
    <button mat-raised-button mat-card-avatar color="primary" class="card-number">
      {{ (finishedProjects$ | async)?.length }}
    </button>
    <mat-card-title>{{ 'projects.finished' | transloco }}</mat-card-title>
    <mat-card-subtitle
      >{{ (finishedProjectsInThisMonth$ | async)?.length }}
      {{ 'thismonth' | transloco }}</mat-card-subtitle
    >
  </mat-card-header>
  <mat-card-content
    class="h-12 w-full overflow-y-hidden overflow-x-auto"
    *ngIf="typeOfFinishedProjects && typeOfFinishedProjects.length > 0"
  >
    <mat-chip-list>
      <mat-chip color="primary" selected *ngFor="let type of typeOfFinishedProjects">{{
        type | transloco
      }}</mat-chip>
    </mat-chip-list>
  </mat-card-content>
</mat-card>
