<div class="flex flex-row items-center mb-1">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 mat-dialog-title class="m-0 ml-2 flex flex-row items-center cursor-pointer">
    <mat-icon class="mr-2">admin_panel_settings</mat-icon>
    {{ 'location' | transloco }}
  </h1>
</div>
<div mat-dialog-content class="flex flex-col md:w-96">
  <mat-form-field appearance="outline">
    <mat-label>{{ 'address' | transloco }}</mat-label>
    <input #textInput matInput [value]="group.data.location.text" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'longitude' | transloco }}</mat-label>

    <input #longitudeInput matInput [value]="group.data.location.coordinates[0]" />
  </mat-form-field>
  <mat-form-field appearance="outline">
    <mat-label>{{ 'latitude' | transloco }}</mat-label>

    <input #latitudeInput matInput [value]="group.data.location.coordinates[1]" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    class="w-full"
    [disabled]="!textInput.value"
    [mat-dialog-close]="{
      location: {text: textInput.value, coordinates: [longitudeInput.value, latitudeInput.value]}
    }"
  >
    {{ 'actions.accept' | transloco }}
  </button>
</div>
