<div *ngIf="project" class="lg:container p-8 flex flex-col mx-auto">
  <ng-container *ngIf="project.data.group">
    <span class="text-lg font-medium mt-6 mb-2 text-gray-700">Colaboradores</span>
    <div class="flex flex-col-reverse md:flex-row w-full h-auto">
      <div class="flex flex-row w-full md:w-1/2">
        <div *ngIf="(collaborators$ | async)?.length === 0" class="self-center text-sm">
          <span>Añadir colaboradores</span>
        </div>
        <div
          class="group flex flex-row relative"
          *ngFor="let collaborator of collaborators$ | async"
        >
          <img
            [matTooltip]="collaborator.data.name"
            class="
              group
              rounded-full
              h-12
              w-12
              mx-2
              mat-elevation-z2
              object-cover
              cursor-pointer
              relative
              group-hover:opacity-50
            "
            [src]="collaborator.data.avatar"
          />
          <div
            class="invisible group-hover:visible absolute w-full h-full"
            *ngIf="!checkIfProjectIsFinished()"
          >
            <button
              mat-icon-button
              class="w-full h-full"
              (click)="openDialogRemoveCollaborator(collaborator)"
            >
              <mat-icon>close</mat-icon>
            </button>
          </div>
        </div>
        <button
          mat-icon-button
          class="rounded-full h-12 w-12 mx-2"
          (click)="openDialogAddCollaborator()"
          *ngIf="!checkIfProjectIsFinished()"
        >
          <mat-icon>add</mat-icon>
        </button>
      </div>
      <div class="flex flex-row w-full md:w-1/2 pb-4 md:pb-0 justify-end">
        <button
          mat-stroked-button
          class="w-full md:w-auto rounded-full"
          [color]="project.data.state === 'active' ? 'primary' : 'accent'"
          [ngClass]="{
            'project-state-active': project.data.state === 'active',
            'project-state-inactive': project.data.state === 'inactive',
            'project-state-finished': project.data.state === 'finished'
          }"
          (click)="openDialogToChangeState()"
        >
          {{ project.data.state | transloco }}
        </button>
      </div>
    </div>
  </ng-container>

  <span class="text-lg font-medium mt-6 mb-2 text-gray-700">Descripción</span>
  <div class="flex flex-col w-full p-4">
    <mat-action-list>
      <mat-list-item class="h-auto">
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line class="whitespace-normal">
          {{ project.data.description }}
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <span class="text-lg font-medium mt-6 mb-2 text-gray-700">Detalles</span>
  <div class="flex flex-col p-4">
    <mat-action-list>
      <mat-list-item>
        <mat-icon mat-list-icon>{{ project.data.type | projectTypePipe }}</mat-icon>
        <div mat-line class="text-gray-500">Tipo</div>
        <div mat-line class="whitespace-normal">{{ project.data.type | transloco }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>money</mat-icon>
        <div mat-line class="text-gray-500">Coste</div>
        <div mat-line class="whitespace-normal">{{ project.data.cost | translocoCurrency }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line class="text-gray-500">{{ 'date.start' | transloco }}</div>
        <div mat-line class="whitespace-normal">
          {{
            project.data.startDate
              | translocoDate
                : {
                    dateStyle: 'long',
                    timeStyle: 'short'
                  }
          }}
        </div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line class="text-gray-500">{{ 'date.estimatedEnd' | transloco }}</div>
        <div mat-line class="whitespace-normal">
          {{
            project.data.estimatedEndDate
              | translocoDate
                : {
                    dateStyle: 'long',
                    timeStyle: 'short'
                  }
          }}
        </div>
      </mat-list-item>
      <mat-list-item *ngIf="project.data.endingDate">
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line class="text-gray-500">{{ 'date.end' | transloco }}</div>
        <div mat-line class="whitespace-normal">
          {{
            project.data.endingDate
              | translocoDate
                : {
                    dateStyle: 'long',
                    timeStyle: 'short'
                  }
          }}
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <div class="flex flex-row mt-6 mb-2 items-center">
    <span class="text-xl font-semibold">
      {{ 'labels' | transloco }}
    </span>
    <button
      mat-icon-button
      class="ml-auto"
      [matTooltip]="'actions.edit' | transloco"
      (click)="changeLabelsVisibility(true)"
      *ngIf="!editLabels && !checkIfProjectIsFinished() && project.data.group"
    >
      <mat-icon>edit</mat-icon>
    </button>
    <button
      mat-icon-button
      class="ml-auto"
      [matTooltip]="'actions.close' | transloco"
      (click)="changeLabelsVisibility(false)"
      *ngIf="editLabels"
    >
      <mat-icon>close</mat-icon>
    </button>
  </div>

  <div class="flex flex-col p-4">
    <mat-form-field class="example-chip-list" appearance="outline" *ngIf="editLabels">
      <mat-chip-list #chipList aria-label="Labels selection">
        <mat-chip
          *ngFor="let label of project.data.labels"
          (removed)="removeLabel(label)"
          [style.backgroundColor]="labels.getColor(label)"
          class="text-white"
        >
          {{ 'labels.' + label | transloco }}
          <button matChipRemove class="text-white mb-1">
            <mat-icon>cancel</mat-icon>
          </button>
        </mat-chip>
        <input
          #labelsInput
          [placeholder]="'labels.newLabel' | transloco"
          [formControl]="labelsControl"
          [matChipInputFor]="chipList"
          [matAutocomplete]="auto"
          [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
          [matChipInputAddOnBlur]="false"
        />
      </mat-chip-list>
      <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedLabel($event)">
        <mat-option *ngFor="let label of filteredLabels | async" [value]="label">
          <mat-icon [style.color]="labels.getColor(label)">circle</mat-icon>
          {{ 'labels.' + label | transloco }}
        </mat-option>
      </mat-autocomplete>
    </mat-form-field>
    <mat-chip-list aria-label="Labels" *ngIf="!editLabels">
      <mat-chip
        *ngFor="let label of project.data.labels"
        [style.backgroundColor]="labels.getColor(label)"
        class="text-white"
        >{{ 'labels.' + label | transloco }}</mat-chip
      >
    </mat-chip-list>
  </div>
  <span class="text-lg font-medium mt-6 mb-2 text-gray-700">{{ 'location' | transloco }}</span>
  <div class="flex flex-col p-4">
    <mat-action-list>
      <mat-list-item class="h-auto">
        <mat-icon mat-list-icon>place</mat-icon>
        <div mat-line class="whitespace-normal">
          {{ project.data.location }}
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <div
    class="flex w-full mt-4"
    *ngIf="!project.data.group && !project.data.accepted"
    (click)="acceptProject()"
  >
    <button mat-raised-button color="warn" class="w-full">
      {{ 'actions.accept' | transloco }}
    </button>
  </div>
</div>
