:host {
  .project-state-active {
    color: #37843a;
    border-color: #37843a;
  }
  .project-state-inactive {
    color: #fefefe;
    border-color: #fefefe;
  }
  .project-state-finished {
    color: #375984;
    border-color: #375984;
  }
}
