<div *ngIf="project" class="lg:container p-8 flex flex-col mx-auto">
  <div class="flex flex-row w-full h-auto">
    <img
      *ngFor="let collaborator of collaborators$ | async | slice: 1"
      [matTooltip]="collaborator.data.name"
      class="rounded-full h-14 w-14 mx-2 mat-elevation-z2 object-cover"
      [src]="collaborator.data.avatar"
    />
    <button mat-icon-button class="rounded-full h-14 w-14 mx-2">
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <span class="text-xl font-semibold mt-6 mb-2">Detalles</span>
  <div class="flex flex-col p-4">
    <mat-action-list>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line class="text-gray-500">Fecha de inicio</div>
        <div mat-line class="whitespace-normal">Miércoles 2 de Febrero, 2023</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line class="text-gray-500">Fecha de fin estimada</div>
        <div mat-line class="whitespace-normal">Lunes 7 de Febrero, 2023</div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <span class="text-xl font-semibold mt-6 mb-2">Descripción</span>
  <div class="flex flex-col w-full p-4">
    <mat-action-list>
      <mat-list-item class="h-auto">
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line class="whitespace-normal">
          {{ project.data.description }}
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <span class="text-xl font-semibold mt-6 mb-2">Ubicación</span>
  <div class="flex flex-col p-4">
    <mat-action-list>
      <mat-list-item class="h-auto">
        <mat-icon mat-list-icon>place</mat-icon>
        <div mat-line class="whitespace-normal">
          {{ project.data.location }}
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>
</div>
