<header class="bg-white shadow">
  <div class="max-w-7xl mx-auto py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-bold text-gray-900">Dashboard</h1>
  </div>
</header>
<main>
  <div class="max-w-4xl mx-auto py-6 sm:px-6 lg:px-8">
    <div class="flex flex-row">
      <p>Events: {{ (events$ | async)?.length }}</p>
      <div style="margin-left: auto">
        <button mat-icon-button (click)="addEvent()">
          <mat-icon *ngIf="!addMode">add</mat-icon>
          <mat-icon *ngIf="addMode">cancel</mat-icon>
        </button>
      </div>
    </div>

    <div class="flex flex-col mx-auto max-w-md" *ngIf="addMode">
      <h2>Add new one</h2>
      <form [formGroup]="form" class="mt-8 space-y-6" (ngSubmit)="submitAdd()">
        <input type="hidden" name="remember" value="true" />
        <div class="rounded-md -space-y-px">
          <mat-form-field class="w-full" appearance="outline">
            <mat-label>title</mat-label>
            <input
              matInput
              placeholder="Title"
              name="title"
              type="text"
              formControlName="title"
              autocomplete="title"
              required
            />
            <mat-error *ngIf="form.get('title')?.errors?.required"
              >This field is required</mat-error
            >
          </mat-form-field>
        </div>

        <button mat-raised-button type="submit" color="primary" class="relative w-full">Add</button>
      </form>
    </div>
    <mat-list>
      <ng-container *ngFor="let event of events$ | async">
        <mat-list-item *ngIf="!editMode || selectedEvent?.id !== event.id">
          <mat-icon mat-list-icon>folder</mat-icon>
          <div class="flex items-center w-full">
            {{ event.data.title }}
            <div style="margin-left: auto">
              <button mat-icon-button (click)="editEvent(event)">
                <mat-icon>edit</mat-icon>
              </button>
              <button mat-icon-button (click)="removeEvent(event)">
                <mat-icon>delete</mat-icon>
              </button>
            </div>
          </div>
        </mat-list-item>
        <mat-list-item *ngIf="editMode && selectedEvent?.id === event.id">
          <mat-icon mat-list-icon>folder</mat-icon>
          <form [formGroup]="form" class="flex items-center w-full" (ngSubmit)="saveEdition()">
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>title</mat-label>
              <input
                matInput
                placeholder="Title"
                name="title"
                type="text"
                formControlName="title"
                autocomplete="title"
                required
              />
              <mat-error *ngIf="form.get('title')?.errors?.required"
                >This field is required</mat-error
              >
            </mat-form-field>
            <mat-form-field class="w-full" appearance="outline">
              <mat-label>description</mat-label>
              <input
                matInput
                placeholder="Description"
                name="description"
                type="text"
                formControlName="description"
                autocomplete="description"
              />
            </mat-form-field>
            <button mat-icon-button type="submit">
              <mat-icon>save</mat-icon>
            </button>
            <button mat-icon-button (click)="closeEdition()">
              <mat-icon>close</mat-icon>
            </button>
          </form>
        </mat-list-item>
      </ng-container>
    </mat-list>
  </div>
</main>
