<div class="mb-6">
  <div class="lg:container mx-auto">
    <h1 class="text-xl font-medium my-6"></h1>
    <div class="flex flex-row w-full">
      <mat-form-field class="w-full max-w-md" appearance="outline">
        <mat-label>{{ 'search' | transloco }}</mat-label>
        <input
          #usersInput
          type="searc"
          aria-label="Search"
          matInput
          [formControl]="usersFormControl"
          [matAutocomplete]="auto"
        />
        <mat-icon matSuffix class="cursor-pointer" *ngIf="!usersInput.value">search</mat-icon>
        <mat-icon
          matSuffix
          class="cursor-pointer"
          *ngIf="usersInput.value"
          (click)="usersFormControl.setValue('')"
          >close</mat-icon
        >
        <mat-autocomplete autoActiveFirstOption #auto="matAutocomplete">
          <mat-option *ngFor="let option of filteredUsers$ | async" [value]="option.data.name">
            {{ option.data.name }}
          </mat-option>
        </mat-autocomplete>
      </mat-form-field>
    </div>
    <div class="grid grid-cols-1 gap-4 mt-8 xl:mt-16 md:grid-cols-2 xl:grid-cols-4">
      <ng-container *ngIf="filteredUsers$ | async; let filteredUsers">
        <mat-card *ngFor="let user of filteredUsers" class="flex flex-col sm:flex-row">
          <mat-card-header class="relative">
            <img
              mat-card-avatar
              *ngIf="user.data.photoURL; else userNoImageTemplate"
              [alt]="user.data.name"
              class="object-cover object-center"
              [src]="user.data.photoURL"
            />
            <ng-template #userNoImageTemplate>
              <button type="button" class="mat-elevation-z0 text-2xl" mat-mini-fab color="primary">
                <span class="sr-only">Open user menu</span>
                <mat-icon>person</mat-icon>
              </button>
            </ng-template>

            <mat-card-title>{{ user.data.name }}</mat-card-title>
            <mat-card-subtitle>{{ user.data.headline }}</mat-card-subtitle>
          </mat-card-header>
          <span class="relative inline-flex ml-auto">
            <button
              *ngIf="user.data.email"
              mat-icon-button
              color="primary"
              class="text-gray-600 dark:text-gray-300"
              (click)="openTabForEmail(user.data.email)"
              [matTooltip]="user.data.email"
            >
              <mat-icon>email</mat-icon>
            </button>
            <button
              *ngIf="user.data.phone"
              mat-icon-button
              color="primary"
              class="text-gray-600 dark:text-gray-300 ml-2"
              (click)="openTabForPhone(user.data.phone)"
              [matTooltip]="user.data.phone"
            >
              <mat-icon>phone</mat-icon>
            </button>
          </span>
        </mat-card>
      </ng-container>
    </div>
  </div>
</div>
