<rng-shell
  [topRoutes]="topRoutes"
  [sideRoutes]="sideRoutes"
  [logo]="logo"
  [appName]="appName"
  [hasSidenav]="hasSidenav"
  [(scrolled)]="scrolled"
  (scrolledChange)="onScroll($event)"
>
  <button mat-button topBarItem class="duration-150" (click)="scrollToTop()" *ngIf="showTitlePage">
    {{ titlePage }}
  </button>
  <rng-search-input class="ml-auto w-full" topBarItem></rng-search-input>

  <rng-user-account-popup [userInfo]="user$ | async" [routes]="userRoutes"></rng-user-account-popup>

  <router-outlet> </router-outlet>
</rng-shell>
