<rng-shell
  [topRoutes]="topRoutes"
  [sideRoutes]="sideRoutes"
  [logo]="logo"
  [appName]="appName"
  [hasSidenav]="hasSidenav"
  [(scrolled)]="scrolled"
  (scrolledChange)="onScroll($event)"
>
  <button
    mat-button
    topBarItem
    color="primary"
    class="text-gray-700 dark:text-gray-200"
    (click)="scrollToTop()"
    *ngIf="showTitlePage"
  >
    {{ titlePage }}
  </button>
  <rng-search-input class="ml-auto mr-2 w-full" topBarItem></rng-search-input>
  <rng-theme-switcher class="ml-auto" topBarItem></rng-theme-switcher>
  <rng-user-account-popup [userInfo]="user$ | async" [routes]="userRoutes"></rng-user-account-popup>

  <router-outlet> </router-outlet>
</rng-shell>
