<div class="flex flex-row mb-2">
  <button
    mat-button
    class="w-full card-title text-left"
    [routerLink]="['../projects/project-list']"
    [state]="['group', null]"
  >
    {{ 'projects.offered' | transloco }}
  </button>
  <button mat-icon-button [routerLink]="['../projects/project-list']" [state]="['group', null]">
    <mat-icon>read_more</mat-icon>
  </button>
</div>
<mat-card class="w-full h-auto mat-elevation-z3">
  <ng-container *ngIf="projects$ | async; let projects">
    <mat-action-list *ngIf="projects && projects.length > 0; else noOfferedProjects" class="p-0">
      <mat-list-item
        class="my-2 py-2 h-auto relative"
        *ngFor="let project of projects$ | async | slice: 0:3"
        [routerLink]="['../projects/project-view', project.id]"
      >
        <mat-icon mat-list-icon [matTooltip]="project.data.type">{{
          project.data.type | projectTypePipe
        }}</mat-icon>
        <div mat-line class="mb-1">{{ project.data.title }}</div>
        <div mat-line class="mat-card-subtitle mb-2" *ngIf="project.data.location">
          {{ project.data.location.text }}
        </div>
        <div
          class="hidden xl:block text-lg my-2 p-1 px-10 text-center bg-gray-100 dark:bg-gray-900 rounded-full w-auto select-none"
        >
          {{ project.data.cost | translocoCurrency }}
        </div>
        <div
          mat-line
          class="block xl:hidden text-lg my-2 p-1 px-10 text-center bg-gray-100 dark:bg-gray-900 rounded-full w-auto select-none"
        >
          {{ project.data.cost | translocoCurrency }}
        </div>
      </mat-list-item>
    </mat-action-list>
  </ng-container>
</mat-card>
<ng-template #noOfferedProjects>
  <div class="flex flex-col h-48 text-center items-center">
    <div class="m-auto h-36">
      <p class="mb-4">{{ 'noOfferedProjects' | transloco }}</p>
      <img class="h-32 w-full" src="assets/undraw_not_found_-60-pq.svg" />
    </div>
  </div>
</ng-template>
