<div class="flex flex-row items-center mb-1">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 mat-dialog-title class="m-0 ml-2 flex flex-row items-center cursor-pointer">
    <mat-icon class="mr-2">admin_panel_settings</mat-icon>
    Teléfono
  </h1>
</div>
<div mat-dialog-content class="flex flex-col md:w-96">
  <mat-form-field appearance="outline">
    <input #phoneInput matInput type="tel" [value]="group.data.phone" />
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    class="w-full"
    [disabled]="!phoneInput.value"
    [mat-dialog-close]="{phone: phoneInput.value}"
  >
    {{ 'actions.accept' | transloco }}
  </button>
</div>
