<h1 mat-dialog-title>{{ 'actions.remove' | transloco }}</h1>
<div mat-dialog-content>
  <mat-list>
    <mat-list-item>
      <img
        mat-list-icon
        class="rounded-full h-10 w-10 border-solid border-2 border-white"
        [src]="data.collaborator.data.photoURL"
      />
      {{ data.collaborator.data.name }}
    </mat-list-item>
  </mat-list>
</div>
<div mat-dialog-actions class="flex flex-col md:flex-row">
  <button mat-stroked-button class="w-full md:w-2/5" [mat-dialog-close]="false" tabindex="0">
    {{ 'actions.close' | transloco }}
  </button>
  <button
    mat-stroked-button
    class="w-full md:w-2/5 md:ml-auto"
    [mat-dialog-close]="true"
    tabindex="0"
  >
    {{ 'actions.accept' | transloco }}
  </button>
</div>
