<!-- eslint-disable @angular-eslint/template/no-negated-async -->
<div class="relative text-gray-600 w-full flex">
  <form class="relative text-gray-600 w-full flex" [formGroup]="searchForm">
    <input
      #inputSearch
      type="text"
      name="serch"
      autocomplete="off"
      [placeholder]="'search' | transloco"
      matInput
      (focus)="onFocus($event)"
      (blur)="onBlur($event)"
      [formControlName]="'searchInput'"
      class="rng-search-input h-10 px-5 pr-10 text-sm focus:outline-none max-w-full ml-auto"
      style="
        width: 200px;
        transition-duration: 100ms;
        transition-property: width;
        transition-timing-function: ease-in-out;
      "
      [class.w-full]="isFocused"
      [class.rounded-t-2xl]="isFocused"
      [class.rounded-2xl]="!isFocused"
      [class.mat-elevation-z2]="isFocused"
      cdkOverlayOrigin
      #trigger="cdkOverlayOrigin"
    />
    <button type="submit" class="absolute right-0 top-0 mt-2 mr-2 dark:text-white" color="primary">
      <mat-icon *ngIf="!(this.searchForm.controls.searchInput.valueChanges | async)">
        search
      </mat-icon>
    </button>
    <button type="button" class="absolute right-0 top-0 mt-2 mr-2" (click)="clearSearch()">
      <mat-icon *ngIf="this.searchForm.controls.searchInput.valueChanges | async">close</mat-icon>
    </button>
  </form>
  <ng-template
    cdkConnectedOverlay
    [cdkConnectedOverlayOrigin]="trigger"
    [cdkConnectedOverlayOpen]="isOverlayOpened"
    [cdkConnectedOverlayWidth]="inputSearch.clientWidth"
  >
    <div class="relative w-full h-full md:h-2/5 flex flex-col p-4 rounded-b-2xl mat-elevation-z2">
      <div>
        {{ 'projects' | transloco }}
        <mat-action-list>
          <mat-list-item
            *ngFor="let project of projectsSearched$ | async | slice: 0:5"
            (click)="goToItem(project.id)"
          >
            <mat-icon mat-list-icon>{{ project.data.type | projectTypePipe }}</mat-icon>
            <p mat-line>{{ project.data.title }}</p>
            <mat-chip-list>
              <mat-chip class="cursor-pointer" *ngIf="project.data.group">{{
                project.data.state | transloco
              }}</mat-chip>
              <mat-chip class="cursor-pointer" *ngIf="!project.data.group">{{
                'others' | transloco
              }}</mat-chip>
            </mat-chip-list>
          </mat-list-item>
        </mat-action-list>
      </div>
      <div *ngIf="recentSearches.length > 0">
        {{ 'recentSearches' | transloco }}
        <mat-action-list>
          <mat-list-item *ngFor="let search of recentSearches | slice: 0:3">
            <mat-icon mat-list-icon>history</mat-icon>
            <p mat-line>{{ search }}</p>
          </mat-list-item>
        </mat-action-list>
      </div>
    </div>
  </ng-template>
</div>
