<div class="flex flex-row">
  <button mat-icon-button class="self-center ml-4" [routerLink]="['../../invoice-list']">
    <mat-icon>arrow_back</mat-icon>
  </button>
  <header class="max-w-7xl w-full py-6 px-4 sm:px-6 lg:px-8">
    <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">
      {{ (invoice$ | async)?.data.title }}
    </h1>
  </header>
</div>
<div *ngIf="invoice$ | async; let invoice" class="lg:container p-8 flex flex-col mx-auto">
  <span class="text-lg font-medium mt-6 mb-2 text-gray-700 dark:text-gray-200">{{
    'title' | transloco
  }}</span>
  <div class="flex flex-col w-full p-4">
    <mat-action-list>
      <mat-list-item class="h-auto">
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line class="whitespace-normal">
          {{ invoice.data.title }}
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <span class="text-lg font-medium mt-6 mb-2 text-gray-700 dark:text-gray-200">{{
    'description' | transloco
  }}</span>
  <div class="flex flex-col w-full p-4">
    <mat-action-list>
      <mat-list-item class="h-auto">
        <mat-icon mat-list-icon>description</mat-icon>
        <div mat-line class="whitespace-normal">
          {{ invoice.data.description }}
        </div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <span class="text-lg font-medium mt-6 mb-2 text-gray-700 dark:text-gray-200">{{
    'details' | transloco
  }}</span>
  <div class="flex flex-col p-4">
    <mat-action-list>
      <mat-list-item>
        <mat-icon mat-list-icon>money</mat-icon>
        <div mat-line class="text-gray-500">Coste</div>
        <div mat-line class="whitespace-normal">{{ invoice.data.cost | translocoCurrency }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>money</mat-icon>
        <div mat-line class="text-gray-500">Impuestos</div>
        <div mat-line class="whitespace-normal">{{ invoice.data.taxes | translocoPercent }}</div>
      </mat-list-item>
      <mat-list-item>
        <mat-icon mat-list-icon>event</mat-icon>
        <div mat-line class="text-gray-500">{{ 'date' | transloco }}</div>
        <div mat-line class="whitespace-normal">
          {{
            invoice.data.date
              | translocoDate
                : {
                    dateStyle: 'long',
                    timeStyle: 'short'
                  }
          }}
        </div>
      </mat-list-item>
      <mat-list-item (click)="viewDocument(invoice.data.url)">
        <mat-icon mat-list-icon>attach_file</mat-icon>
        <div mat-line class="text-gray-500">{{ 'document' | transloco }}</div>
      </mat-list-item>
    </mat-action-list>
  </div>
  <span class="text-lg font-medium mt-6 mb-2 text-gray-700 dark:text-gray-200">{{
    'project' | transloco
  }}</span>
  <div class="flex flex-col p-4">
    <mat-action-list>
      <mat-list-item [routerLink]="['../../../projects/project-view', invoice.data.project]">
        <mat-icon mat-list-icon>work</mat-icon>
        <div mat-line class="text-gray-500">{{ 'project' | transloco }}</div>
        <div mat-line class="whitespace-normal">{{ invoice.data.project }}</div>
      </mat-list-item>
    </mat-action-list>
  </div>
</div>
