<div class="lg:container p-8 flex flex-col mx-auto">
  <div class="flex flex-row items-center h-10">
    <span
      class="text-lg font-medium text-gray-700 dark:text-gray-200 overflow-hidden overflow-ellipsis whitespace-nowrap"
      >{{ 'projectNotes' | transloco }}</span
    >
    <button
      mat-icon-button
      class="ml-auto"
      *ngIf="project.data.group"
      (click)="openDialogToAddComment()"
    >
      <mat-icon>add</mat-icon>
    </button>
  </div>
  <mat-list
    *ngIf="project.data.comments && project.data.comments.length > 0; else noCommentsTemplate"
  >
    <ng-container *ngFor="let comment of project.data.comments.slice().reverse()">
      <mat-list-item class="py-8 h-auto">
        <mat-icon mat-list-icon color="primary">description</mat-icon>
        <div mat-line *ngIf="comment.title" class="text-lg pb-2 whitespace-normal">
          {{ comment.title }}
        </div>
        <div mat-line *ngIf="comment.description" class="whitespace-normal">
          {{ comment.description }}
        </div>
      </mat-list-item>
      <mat-divider></mat-divider>
    </ng-container>
  </mat-list>
  <ng-template #noCommentsTemplate>
    <div class="flex flex-col h-48 text-center items-center">
      <div class="m-auto h-36">
        <p class="mb-4">{{ 'noComments' | transloco }}</p>
        <img class="h-32 w-full" src="assets/undraw_not_found_-60-pq.svg" />
      </div>
    </div>
  </ng-template>
</div>
