<rng-shell [topRoutes]="topRoutes" [logo]="logo" [appName]="appName" [toolbarColor]="'accent'">
  <button
    mat-button
    topBarItem
    color="primary"
    *ngIf="(userAuth$ | async) === null"
    [routerLink]="['sign-in']"
    class="ml-auto"
  >
    Acceso
  </button>
  <rng-user-account-popup
    *ngIf="userAuth$ | async; let user"
    [userInfo]="user"
    [routes]="userRoutes"
  ></rng-user-account-popup>

  <!-- HERO SECTION -->
  <section class="w-full h-auto py-6 relative flex flex-col">
    <!-- bg-primary-->
    <main
      class="flex flex-col w-full md:max-w-5xl mx-auto pb-10 sm:pb-12 md:pb-16 lg:pb-20 xl:pb-28 px-4 sm:px-6 lg:px-8"
    >
      <img
        class="h-56 md:h-64 lg:h-72 w-full m-auto object-cover"
        src="assets/images/header-vector.svg"
        alt="Header Image"
      />
      <div class="text-center mt-2">
        <h1 class="text-3xl tracking-tight font-extrabold sm:text-4xl md:text-5xl">
          <span class="block xl:inline"> Servicios </span>
        </h1>
      </div>
    </main>
  </section>
  <!-- HERO SECTION -->

  <!-- SERVICE REQUEST -->
  <section
    class="flex flex-col w-full h-auto max-w-md md:max-w-2xl lg:max-w-5xl mx-auto"
    style="margin-top: -3.5rem"
  >
    <mat-card class="rounded-2xl">
      <mat-card-content>
        <form novalidate [formGroup]="requestServiceForm">
          <div class="flex flex-col lg:flex-row">
            <div class="flex flex-col m-auto items-center w-full mt-0">
              <div class="h-40 w-full">
                <span
                  class="flex text-center my-4 justify-center text-2xl font-semibold text-gray-700 capitalize dark:text-white"
                  >Servicio</span
                >
                <mat-form-field appearance="outline" class="w-full px-10">
                  <mat-label>Servicio</mat-label>
                  <mat-select formControlName="activity">
                    <mat-option
                      *ngFor="let activity of activities$ | async"
                      [value]="activity.data.code"
                    >
                      {{ 'activities.' + activity.data.code | transloco }}
                    </mat-option>
                  </mat-select>
                </mat-form-field>
              </div>
            </div>
            <div class="flex flex-col m-auto items-center w-full mt-0">
              <div class="h-40 w-full">
                <span
                  class="flex text-center my-4 justify-center text-2xl font-semibold text-gray-700 capitalize dark:text-white"
                  >Ubicación</span
                >
                <mat-form-field appearance="outline" class="w-full px-10">
                  <mat-label>Código postal</mat-label>
                  <input type="text" matInput formControlName="location" />
                </mat-form-field>
              </div>
            </div>
            <div class="flex flex-col m-auto items-center w-full mt-0">
              <div class="h-40 w-full">
                <span
                  class="flex text-center my-4 justify-center text-2xl font-semibold text-gray-700 capitalize dark:text-white"
                  >Contacto</span
                >
                <mat-form-field appearance="outline" class="w-full px-10">
                  <mat-label>Email</mat-label>
                  <input type="email" matInput formControlName="email" />
                </mat-form-field>
              </div>
            </div>
          </div>
          <div class="flex">
            <button
              mat-raised-button
              color="primary"
              class="rounded-3xl mx-auto text-xl h-12"
              style="margin-bottom: -2.5rem"
              [disabled]="sendRequestLoading"
              (click)="sendRequest()"
            >
              <mat-spinner
                *ngIf="sendRequestLoading"
                diameter="25"
                color="accent"
                class="m-auto"
              ></mat-spinner>
              <span *ngIf="!sendRequestLoading">Solicitar</span>
            </button>
          </div>
        </form>
      </mat-card-content>
    </mat-card>
  </section>
  <section *ngIf="activities$ | async; let activities" class="bg-white dark:bg-gray-900">
    <div class="container px-6 py-12 mx-auto">
      <div class="grid grid-cols-1 gap-8 md:grid-cols-2 lg:grid-cols-3">
        <div *ngFor="let activity of activities">
          <div class="flex mt-4">
            <mat-icon color="primary">{{ activity.data.icon }}</mat-icon>
            <h1 class="ml-2 text-xl font-semibold text-gray-800 dark:text-white">
              {{ 'activities.' + activity.data.code | transloco }}
            </h1>
          </div>

          <p class="mt-2 text-gray-500 dark:text-gray-400">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Dignissim fusce tortor, ac sed
            malesuada blandit. Et mi gravida sem feugiat.
          </p>
        </div>
      </div>
    </div>
  </section>
</rng-shell>

<!--
    <div class="flex flex-col md:flex-row">
      <div class="flex flex-col m-auto items-center w-full mt-0">
        <button mat-fab color="accent" class="h-24 w-24">
          <span class="color-primary text-2xl">1</span>
        </button>
        <div>
          <span class="flex text-lg text-gray-900 text-center my-4 justify-center">Servicio</span>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Actividad</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let activity of activities$ | async"
                  [value]="activity.data.code"
                >
                  {{ 'activities.' + activity.data.code | transloco }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="flex flex-col m-auto items-center w-full mt-0">
        <button mat-fab color="accent" class="h-24 w-24">
          <span class="color-primary text-2xl">2</span>
        </button>
        <div>
          <span class="flex text-lg text-gray-900 text-center my-4 justify-center">Ubicación</span>
          <div>c</div>
        </div>
      </div>
      <div class="flex flex-col m-auto items-center w-full mt-0">
        <button mat-fab color="accent" class="h-24 w-24">
          <span class="color-primary text-2xl">3</span>
        </button>
        <div>
          <span class="flex text-lg text-gray-900 text-center my-4 justify-center">Contacto</span>
          <div>c</div>
        </div>
      </div>
    </div>
-->
