<rng-shell [topRoutes]="topRoutes" [logo]="logo" [appName]="appName">
  <!-- HERO SECTION -->
  <!--
    section style="
        background-image: url(assets/images/header-image.jpg);
    background-size: cover;
    background-position: center;

    border-bottom-left-radius: 50% 10%; border-bottom-right-radius: 50% 10%
  -->
  <section class="w-full h-auto py-6 relative flex flex-col">
    <!-- bg-primary-->
    <main
      class="flex flex-col w-full md:max-w-5xl mx-auto pb-10 sm:pb-12 md:pb-16 lg:pb-20 xl:pb-28 px-4 sm:px-6 lg:px-8"
    >
      <img
        class="h-56 md:h-64 lg:h-72 w-full m-auto object-cover"
        src="assets/images/header-vector.svg"
        alt="Header Image"
      />
      <div class="text-center mt-2">
        <h1 class="text-3xl tracking-tight font-extrabold sm:text-4xl md:text-5xl">
          <span class="block xl:inline"> Servicios </span>
        </h1>
      </div>
    </main>
    <!-- <div
      class="pt-0 pb-10 mx-auto max-w-7xl hidden lg:flex px-4 md:pt-0 md:pb-12 sm:px-6 lg:pt-20 lg:px-8 xl:pt-28"
    >
      <img
        class="h-24 w-auto m-auto object-cover sm:h-32 md:h-56 lg:h-64 xl:h-72"
        src="assets/undraw_under_construction_white.svg"
        alt="Header Image"
      />
    </div> -->
  </section>
  <!-- HERO SECTION -->
  <!-- <div class="z-20 hexagon-wrap">
          <div
            matRipple
            class="h-24 w-24 rounded-2xl mb-2 hexagon bg-accent flex items-center place-content-center cursor-pointer"
            color="accent"
          >
            <span class="color-primary text-2xl">1</span>
          </div>
        </div> -->
  <!-- SERVICE REQUEST -->
  <section
    class="flex flex-col w-full h-auto max-w-md md:max-w-2xl lg:max-w-5xl mx-auto"
    style="margin-top: -3.5rem"
  >
    <mat-card class="rounded-2xl">
      <mat-card-content>
        <div class="flex flex-col md:flex-row">
          <div class="flex flex-col m-auto items-center w-full mt-0">
            <div>
              <span
                class="flex text-center my-4 justify-center text-2xl font-semibold text-gray-700 capitalize dark:text-white"
                >Servicio</span
              >
              <mat-form-field appearance="outline">
                <mat-label>Servicio</mat-label>
                <mat-select>
                  <mat-option
                    *ngFor="let activity of activities$ | async"
                    [value]="activity.data.code"
                  >
                    {{ 'activities.' + activity.data.code | transloco }}
                  </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="flex flex-col m-auto items-center w-full mt-0">
            <div>
              <span
                class="flex text-center my-4 justify-center text-2xl font-semibold text-gray-700 capitalize dark:text-white"
                >Ubicación</span
              >
              <mat-form-field appearance="outline">
                <mat-label>Ciudad</mat-label>
                <mat-select>
                  <mat-option> Valencia </mat-option>
                </mat-select>
              </mat-form-field>
            </div>
          </div>
          <div class="flex flex-col m-auto items-center w-full mt-0">
            <div>
              <span
                class="flex text-center my-4 justify-center text-2xl font-semibold text-gray-700 capitalize dark:text-white"
                >Contacto</span
              >
              <!-- <mat-form-field appearance="outline">
                <mat-label>Email</mat-label>
                <input type="email" />
              </mat-form-field> -->
            </div>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
  </section>
</rng-shell>

<!--
    <div class="flex flex-col md:flex-row">
      <div class="flex flex-col m-auto items-center w-full mt-0">
        <button mat-fab color="accent" class="h-24 w-24">
          <span class="color-primary text-2xl">1</span>
        </button>
        <div>
          <span class="flex text-lg text-gray-900 text-center my-4 justify-center">Servicio</span>
          <div>
            <mat-form-field appearance="outline">
              <mat-label>Actividad</mat-label>
              <mat-select>
                <mat-option
                  *ngFor="let activity of activities$ | async"
                  [value]="activity.data.code"
                >
                  {{ 'activities.' + activity.data.code | transloco }}
                </mat-option>
              </mat-select>
            </mat-form-field>
          </div>
        </div>
      </div>
      <div class="flex flex-col m-auto items-center w-full mt-0">
        <button mat-fab color="accent" class="h-24 w-24">
          <span class="color-primary text-2xl">2</span>
        </button>
        <div>
          <span class="flex text-lg text-gray-900 text-center my-4 justify-center">Ubicación</span>
          <div>c</div>
        </div>
      </div>
      <div class="flex flex-col m-auto items-center w-full mt-0">
        <button mat-fab color="accent" class="h-24 w-24">
          <span class="color-primary text-2xl">3</span>
        </button>
        <div>
          <span class="flex text-lg text-gray-900 text-center my-4 justify-center">Contacto</span>
          <div>c</div>
        </div>
      </div>
    </div>
-->
