/* =========== hero =========== */

.header_hero {
  height: 900px;
}

@media (max-width: 1400px) {
  .header_hero {
    height: 800px;
  }
}

.hero_shape {
  opacity: 0.4;
  position: absolute;
  z-index: -10;
}

.shape_1 {
  top: 150px;
  left: 10%;
}

.shape_2 {
  top: 150px;
  left: 30%;
}

.shape_3 {
  top: 200px;
  left: 40%;
}

.shape_4 {
  top: 120px;
  left: 50%;
}

.shape_5 {
  top: 40%;
  left: 14%;
}

.shape_6 {
  top: 34%;
  left: 48%;
}

.shape_7 {
  top: 60%;
  left: 80px;
}

.shape_8 {
  top: 55%;
  left: 38%;
}

.shape_9 {
  bottom: 100px;
  left: 13%;
}

.shape_10 {
  bottom: 200px;
  left: 25%;
}

.shape_11 {
  bottom: 80px;
  left: 35%;
}

.shape_12 {
  bottom: 25%;
  left: 42%;
}

.header_shape {
  height: 100%;
  position: absolute;
  top: 0px;
  right: 0px;
  width: 50%;
}

.header_shape::before {
  content: '';
  background-color: #f5f5fc;
  transform: skewX(-15deg);
  width: 200%;
  height: 100%;
  position: absolute;
  top: 0px;
  left: 0px;
}

.header_image {
  height: auto;
  margin-left: auto;
  margin-right: auto;
  margin-top: 52px;
  padding-left: 20px;
  padding-right: 20px;
  top: 0px;
  right: 0px;
  width: 100%;
}

@media (min-width: 960px) {
  .header_image {
    height: 100%;
    margin-top: 0px;
    padding-left: 0px;
    padding-right: 0px;
    position: absolute;
    width: 50%;
  }
}

.header_image img {
  max-width: 100%;
}

@media (min-width: 960px) {
  .header_image img {
    width: auto;
  }
}

@media (min-width: 1140px) {
  .header_image img {
    max-width: 720px;
  }
}
