<div class="lg:container mx-auto px-4 h-full">
  <div class="flex flex-col h-full w-full">
    <div class="flex flex-col xl:flex-row mt-4">
      <div class="flex flex-col md:flex-row w-full xl:w-3/5 lg:h-68">
        <div class="w-full h-full p-2">
          <mat-card class="w-full h-full mat-elevation-z3 bg-primary flex flex-col">
            <mat-card-header class="flex flex-col mt-auto mb-auto">
              <mat-card-title
                >{{ 'invoiced' | transloco }}
                <span class="text-sm font-thin"
                  >({{ 'thismonth' | transloco }})</span
                ></mat-card-title
              >
              <mat-card-subtitle>
                <span
                  class="text-4lg text-white block mt-4"
                  *ngIf="earnings$ | async; let earningValue; else: noEarningsTemplate"
                  >{{ earningValue | translocoCurrency }}</span
                >
                <ng-template #noEarningsTemplate>
                  <span class="text-2lg text-white block mt-2">{{ 'noEarnings' | transloco }}</span>
                </ng-template>
              </mat-card-subtitle>
              <mat-chip-list>
                <mat-chip
                  color="primary"
                  selected
                  *ngIf="percentageFromPreviousMonth$ | async; let percentageFromPreviousMonth"
                  >{{ percentageFromPreviousMonth | translocoPercent }}
                  {{ 'regardingTheMonthPrevious' | transloco }}</mat-chip
                >
              </mat-chip-list>
              <rng-earnings-chart class="h-20" [data]="invoicesData$ | async"></rng-earnings-chart>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="w-full h-full p-2">
          <mat-card class="grid w-full h-2/5 mb-2 mat-elevation-z3">
            <mat-card-header>
              <button mat-raised-button mat-card-avatar color="primary" class="card-number">
                <mat-icon>support_agent</mat-icon>
              </button>
              <mat-card-title>{{ 'support' | transloco }}</mat-card-title>
              <mat-card-subtitle>{{ 'support.helpContact' | transloco }}</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <rng-info-projects class="w-full h-3/5 mt-2"></rng-info-projects>
        </div>
      </div>
      <div class="flex flex-col w-full xl:w-2/5 p-2 lg:h-68">
        <div class="flex flex-row mb-2">
          <button mat-button class="w-full card-title" [routerLink]="['../invoices/invoice-list']">
            {{ 'invoices.recent' | transloco }}
          </button>
          <button mat-icon-button [routerLink]="['../invoices/invoice-list']">
            <mat-icon>read_more</mat-icon>
          </button>
        </div>
        <mat-card
          class="w-full h-auto lg:h-full mat-elevation-z3"
          *ngIf="invoices$ | async; let invoices"
        >
          <div
            class="flex flex-col h-auto xl:h-48 text-center items-center"
            *ngIf="invoices.length === 0"
          >
            <div class="m-auto h-36">
              <p class="mb-4">{{ 'noInvoices' | transloco }}</p>
              <img class="h-32 w-full" src="assets/undraw_not_found_-60-pq.svg" />
            </div>
          </div>
          <div class="flex flex-col h-auto xl:h-48" *ngIf="invoices.length > 0">
            <mat-action-list style="padding: 0">
              <mat-list-item
                *ngFor="let invoice of invoices | slice: 0:3"
                [routerLink]="['../invoices/invoice-view', invoice.id]"
              >
                <mat-icon mat-list-icon>receipt_long</mat-icon>
                <div mat-line>{{ invoice.data.title }}</div>
                <div mat-line class="mat-card-subtitle">
                  {{ invoice.data.cost | translocoCurrency }}
                </div>
              </mat-list-item>
            </mat-action-list>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row w-full mt-4">
      <rng-active-projects
        class="flex flex-col w-full lg:w-1/2 lg:h-auto p-2"
      ></rng-active-projects>
      <rng-other-projects class="flex flex-col w-full lg:w-1/2 lg:h-auto p-2"></rng-other-projects>
    </div>
  </div>
</div>
