<div class="container mx-auto p-4 h-full">
  <h1>Dash</h1>
  <div class="flex flex-col md:flex-row h-full">
    <div class="flex flex-row w-full md:w-3/5 h-full max-h-48">
      <div class="w-full h-full p-2">
        <mat-card class="w-full h-full mat-elevation-z3"> Ganancias </mat-card>
      </div>
      <div class="w-full h-full px-2 pt-2 pb-4">
        <mat-card class="w-full h-1/2 mb-2 mat-elevation-z3"> Rango </mat-card>
        <mat-card class="w-full h-1/2 mt-2 mat-elevation-z3"> Projectos </mat-card>
      </div>
    </div>
    <div class="flex flex-col w-full h-full md:w-2/5 max-h-48 p-2">
      <mat-card class="w-full h-full mat-elevation-z3"> cosas </mat-card>
    </div>
  </div>
</div>
