<div class="lg:container mx-auto px-4 h-full">
  <div class="flex flex-col h-full w-full">
    <div class="flex flex-col xl:flex-row mt-4">
      <div class="flex flex-col md:flex-row w-full xl:w-3/5 lg:h-64">
        <div class="w-full h-full p-2 px-4">
          <mat-card class="w-full h-full mat-elevation-z3 bg-accent flex">
            <mat-card-header class="flex flex-col mt-auto mb-auto">
              <mat-card-title>Ganancias</mat-card-title>
              <mat-card-subtitle>
                <span class="text-4lg text-white block mt-4">3000€</span>
              </mat-card-subtitle>
              <mat-chip-list>
                <mat-chip color="primary" selected>+10% respecto al mes anterior</mat-chip>
              </mat-chip-list>
            </mat-card-header>
          </mat-card>
        </div>
        <div class="w-full h-full px-4 pt-2 pb-4">
          <mat-card class="grid w-full h-2/5 mb-2 mat-elevation-z3">
            <mat-card-header>
              <button mat-raised-button mat-card-avatar color="accent" class="card-number">
                21
              </button>
              <mat-card-title>Nivel</mat-card-title>
              <mat-card-subtitle>En el top 30%</mat-card-subtitle>
            </mat-card-header>
          </mat-card>
          <mat-card class="grid w-full h-3/5 mt-2 mat-elevation-z3">
            <mat-card-header>
              <button mat-raised-button mat-card-avatar color="accent" class="card-number">
                10
              </button>
              <mat-card-title>Proyectos</mat-card-title>
              <mat-card-subtitle>8 este mes</mat-card-subtitle>
            </mat-card-header>
            <mat-card-content class="h-12 w-full overflow-y-hidden overflow-x-auto">
              <mat-chip-list>
                <mat-chip color="accent" selected>Rehabilitación</mat-chip>
                <mat-chip color="accent" selected>Pintura</mat-chip>
              </mat-chip-list>
            </mat-card-content>
          </mat-card>
        </div>
      </div>
      <div class="flex flex-col w-full lg:w-1/2 p-2 px-4">
        <div class="flex flex-row mb-2">
          <button mat-button class="w-full card-title" color="primary">Facturas recientes</button>
          <button mat-icon-button color="primary"><mat-icon>read_more</mat-icon></button>
        </div>
        <mat-card class="w-full h-auto mat-elevation-z3">
          <div class="flex flex-col h-48 text-center items-center">
            <div class="m-auto h-36">
              <p class="mb-4">No hay facturas</p>
              <img class="h-32 w-full" src="assets/undraw_not_found_-60-pq.svg" />
            </div>
          </div>
        </mat-card>
      </div>
    </div>
    <div class="flex flex-col lg:flex-row w-full mt-4">
      <rng-active-projects
        class="flex flex-col w-full xl:w-1/2 lg:h-64 p-2 px-4"
      ></rng-active-projects>
      <rng-other-projects class="flex flex-col w-full lg:w-1/2 p-2 px-4"></rng-other-projects>
    </div>
  </div>
</div>
