<div class="flex flex-row items-center mb-1">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 mat-dialog-title class="m-0 ml-2 flex flex-row items-center cursor-pointer">
    <mat-icon class="mr-2">admin_panel_settings</mat-icon>
    {{ 'activities' | transloco }}
  </h1>
</div>
<div mat-dialog-content class="flex flex-col md:w-96" *ngIf="activities$ | async; let activities">
  <mat-form-field
    appearance="outline"
    *ngIf="activities && activities.length && activities.length > 0; else noActivitiesTemplate"
  >
    <mat-chip-list #chipList aria-label="Labels selection">
      <mat-chip
        *ngFor="let activity of group.data.activities"
        (removed)="removeActivity(activity)"
        color="primary"
      >
        {{ 'activities.' + activity | transloco }}
        <button matChipRemove class="text-white mb-1">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #activitiesInput
        [placeholder]="'Añade una actividad'"
        [formControl]="activityControl"
        [matChipInputFor]="chipList"
        [matAutocomplete]="auto"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="false"
      />
    </mat-chip-list>
    <mat-autocomplete #auto="matAutocomplete" (optionSelected)="selectedActivity($event)">
      <mat-option
        *ngFor="let activityBase of filteredActivities$ | async"
        [value]="activityBase.data.code"
      >
        <mat-icon>{{ activityBase.data.icon }}</mat-icon>
        {{ 'activities.' + activityBase.data.code | transloco }}
      </mat-option>
    </mat-autocomplete>
  </mat-form-field>
  <ng-template #noActivitiesTemplate>
    <div class="h-32 self-center flex items-center">
      {{ 'noActivities' | transloco }}
    </div>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    class="w-full"
    [disabled]="!group.data.activities || group.data.activities.length === 0"
    [mat-dialog-close]="{activities: group.data.activities}"
  >
    {{ 'actions.accept' | transloco }}
  </button>
</div>
