<div class="flex flex-row items-center mb-1">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 mat-dialog-title class="m-0 ml-2 flex flex-row items-center cursor-pointer">
    <mat-icon class="mr-2">admin_panel_settings</mat-icon>
    Información adicional
  </h1>
</div>
<div mat-dialog-content class="flex flex-col md:w-96">
  <mat-form-field appearance="outline">
    <textarea #infoInput matInput [value]="info"></textarea>
  </mat-form-field>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    class="w-full"
    [disabled]="!infoInput.value"
    [mat-dialog-close]="{additionalInfo: infoInput.value}"
  >
    {{ 'actions.accept' | transloco }}
  </button>
</div>
