<div class="relative flex flex-col md:flex-row w-full h-full lg:container mx-auto p-4">
  <div class="relative w-full h-full">
    <header class="relative flex flex-row mx-auto py-6 px-4 sm:px-6 lg:px-8 items-center">
      <h1 class="text-3xl font-semibold text-gray-700 dark:text-gray-200">
        {{ 'management' | transloco }}
      </h1>
    </header>
    <div class="relative w-full h-full">
      <mat-tab-group
        animationDuration="0ms"
        [selectedIndex]="tabSelected"
        (selectedIndexChange)="changeTab($event)"
      >
        <mat-tab>
          <ng-template mat-tab-label>
            {{ 'office' | transloco }}
          </ng-template>
          <ng-template matTabContent>
            <ng-container *ngTemplateOutlet="officeTemplate"></ng-container>
          </ng-template>
        </mat-tab>
        <mat-tab>
          <ng-template mat-tab-label>
            {{ 'users' | transloco }}
          </ng-template>
          <ng-template matTabContent>
            <rng-team *ngIf="users$ | async; let users" [users]="users"></rng-team>
          </ng-template>
        </mat-tab>
      </mat-tab-group>
    </div>
  </div>
</div>

<ng-template #officeTemplate>
  <div class="mb-6" *ngIf="group$ | async; let group">
    <h1 class="text-xl font-medium my-6">Información principal</h1>
    <mat-card class="mat-elevation-z3 rounded-lg">
      <mat-card-content class="flex flex-col">
        <div class="flex flex-col md:flex-row w-full">
          <div class="w-full md:w-1/2">
            <mat-action-list>
              <div>
                <h3 matSubheader>Nombre</h3>
                <button mat-list-item (click)="changeName(group)">
                  {{ group.data.name }}
                </button>
              </div>

              <div>
                <h3 matSubheader>Email</h3>
                <button mat-list-item (click)="changeEmail(group)">
                  {{ group.data.email }}
                </button>
              </div>

              <div>
                <h3 matSubheader>Teléfono</h3>
                <button mat-list-item (click)="changePhone(group)">
                  {{ group.data.phone }}
                </button>
              </div>

              <div>
                <h3 matSubheader>Web</h3>
                <button mat-list-item (click)="changeWeb(group)">
                  {{ group.data.web }}
                </button>
              </div>

              <div>
                <h3 matSubheader>NIF</h3>
                <button mat-list-item (click)="changeNif(group)">
                  {{ group.data.nif }}
                </button>
              </div>
            </mat-action-list>
          </div>
          <div class="w-full md:w-1/2">
            <mat-action-list class="grid group">
              <h3 matSubheader>
                Logo
                <button mat-icon-button class="ml-auto" [matMenuTriggerFor]="logoMenu">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #logoMenu="matMenu">
                  <button mat-menu-item (click)="addLogo(group)">
                    <mat-icon>add_photo_alternate</mat-icon>Subir imagen
                  </button>
                  <button mat-menu-item (click)="removeLogo(group)">
                    <mat-icon>delete</mat-icon>Eliminar imagen
                  </button>
                </mat-menu>
              </h3>
              <button
                mat-button
                class="h-auto mx-auto mb-2 p-0 rounded-full"
                (click)="addLogo(group)"
              >
                <img
                  mat-line
                  *ngIf="group.data.logo"
                  class="w-32 h-32 rounded-full m-auto object-cover"
                  [src]="group.data.logo"
                />
                <mat-icon
                  mat-line
                  *ngIf="!group.data.logo"
                  class="
                    w-32
                    h-32
                    rounded-full
                    m-auto
                    object-cover
                    ring
                    flex
                    justify-center
                    items-center
                  "
                  >image</mat-icon
                >
              </button>
            </mat-action-list>

            <mat-list>
              <h3 matSubheader>
                Actividades
                <button mat-icon-button class="ml-auto" (click)="changeActivity(group)">
                  <mat-icon color="primary">edit</mat-icon>
                </button>
              </h3>
              <mat-list-item class="h-auto">
                <mat-chip-list aria-label="Activities">
                  <mat-chip
                    color="primary"
                    selected
                    *ngFor="let activity of group.data.activities"
                    >{{ 'activities.' + activity | transloco }}</mat-chip
                  >
                </mat-chip-list>
              </mat-list-item>
            </mat-list>
          </div>
        </div>
      </mat-card-content>
    </mat-card>
    <div class="flex flex-row items-center w-full">
      <h1 class="text-xl font-medium my-6">Información adicional</h1>
      <button mat-icon-button class="ml-auto" [matMenuTriggerFor]="menuAdditionalInformation">
        <mat-icon>more_vert</mat-icon>
      </button>
      <mat-menu #menuAdditionalInformation="matMenu">
        <button mat-menu-item (click)="addAdditionalInfo(group)">
          <mat-icon>add</mat-icon>Añadir
        </button>
      </mat-menu>
    </div>
    <mat-card class="mat-elevation-z3 rounded-lg">
      <mat-action-list class="w-full" *ngFor="let info of group.data.additionalInfo; let i = index">
        <h3 matSubheader>Texto {{ i + 1 }}</h3>
        <mat-list-item class="h-auto mb-2" (click)="changeAdditionalInfo(group, info, i)">
          <mat-icon mat-list-icon>description</mat-icon>
          <span class="py-4"> {{ info }}</span>
        </mat-list-item>
      </mat-action-list>
    </mat-card>
    <h1 class="text-xl font-medium my-6">Ubicación</h1>
    <mat-card class="mat-elevation-z3 rounded-lg">
      <mat-action-list class="w-full">
        <h3 matSubheader>Dirección</h3>
        <mat-list-item class="h-auto mb-2">
          <mat-icon mat-list-icon>place</mat-icon>
          <span class="py-4"> {{ group.data.location.text }}</span>
        </mat-list-item>
      </mat-action-list>
      <mat-list class="w-full">
        <h3 matSubheader>Mapa</h3>
      </mat-list>
      <rng-map
        #map
        class="grid w-full h-96 rounded-2xl overflow-hidden"
        [center]="center"
        [data]="point$ | async"
        [interactions]="interactions"
      ></rng-map>
    </mat-card>
  </div>
</ng-template>
