<div class="flex flex-row items-center mb-1">
  <button mat-icon-button mat-dialog-close>
    <mat-icon>arrow_back</mat-icon>
  </button>
  <h1 mat-dialog-title class="m-0 ml-2 flex flex-row items-center cursor-pointer">
    <mat-icon class="mr-2">admin_panel_settings</mat-icon>
    {{ 'postalCode' | transloco }}
  </h1>
</div>
<div mat-dialog-content class="flex flex-col md:w-96">
  <mat-form-field appearance="outline">
    <mat-chip-list #chipList aria-label="Labels selection">
      <mat-chip
        *ngFor="let postalCode of group.data.coverage"
        (removed)="removePostalCode(postalCode)"
        color="primary"
      >
        {{ postalCode }}
        <button matChipRemove class="text-white mb-1">
          <mat-icon>cancel</mat-icon>
        </button>
      </mat-chip>
      <input
        #coverageInput
        [placeholder]="'addPostalCode' | transloco"
        [formControl]="postalCodeControl"
        [matChipInputFor]="chipList"
        [matChipInputSeparatorKeyCodes]="separatorKeysCodes"
        [matChipInputAddOnBlur]="true"
        (matChipInputTokenEnd)="selectedPostalCode($event)"
      />
    </mat-chip-list>
  </mat-form-field>
  <ng-template #noCoverageTemplate>
    <div class="h-32 self-center flex items-center">
      {{ 'noCoverage' | transloco }}
    </div>
  </ng-template>
</div>
<div mat-dialog-actions>
  <button
    mat-stroked-button
    class="w-full"
    [disabled]="!group.data.coverage || group.data.coverage.length === 0"
    [mat-dialog-close]="{coverage: group.data.coverage}"
  >
    {{ 'actions.accept' | transloco }}
  </button>
</div>
